/*--------------------------------------------- MAIN TAG CLASSES */

body {
    background-color: #A20ED9;
}

/*--------------------------------------------- REPEATED CLASSES */

.page-content {
    background-color: #ECE9E9;
    margin-left: auto;
    margin-right: auto;
    width: 65em
}



/*--------------------------------------------- NAV BAR */

.nav-text {
    color: #A20ED9;
}

/*--------------------------------------------- RECIPES */

.icon-size {
    font-size: 35px;
}
