body {
    background-color: #8b00d1;
}

.page-content {
    background-color: #ECE9E9;
    margin-left: auto;
    margin-right: auto;
    width: 65em
}

.icon-size {
    font-size: 25px;
}

.header-color {
    background-color: #ECE9E9;
    color: #8b00d1
}
