body {
    background-color: purple;
}

.page-content {
    background-color: #ECE9E9;
    width: 75%;
    height: 200px;
    position: fixed;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.icon-size {
    font-size: 25px;
}
