/*--------------------------------------------- MAIN TAG CLASSES */

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a20ed9' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*--------------------------------------------- REPEATED CLASSES */

.page-content {
    background-color: #ECE9E9;
    margin-left: auto;
    margin-right: auto;
    width: 65em
}



/*--------------------------------------------- NAV BAR */

.nav-text {
    color: #A20ED9 !important;
}

/*--------------------------------------------- RECIPES */

.icon-size {
    font-size: 35px;
}
