/*--------------------------------------------- MAIN TAG CLASSES */

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgTyFi/hu/ke2Ie6TOtwgFBMHUCG+ECDP1/hMBADdHRALGYZ/hgAAAABJRU5ErkJggg==
) repeat;
}

/*--------------------------------------------- REPEATED CLASSES */

.page-content {
    background-color: #ECE9E9;
    margin-left: auto;
    margin-right: auto;
    width: 65em
}



/*--------------------------------------------- NAV BAR */

.nav-text {
    color: #A20ED9 !important;
}

/*--------------------------------------------- RECIPES */

.icon-size {
    font-size: 35px;
}
