body {
    background-image: url("/../../../images/falling-triangles.zip");
}

.page-content {
    background-color: #ECE9E9;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

