{% extends 'parent.html'%} {% block content %}
<div class="page-content">
    <div class="row">
        <form action="{{url_for('submit_recipe')}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons">title</i>
                    <input id="meal_name" name="meal_name" type="text" required>
                    <label> Recipe name!</label>
                </div>

                <div class="input-field col s6">
                    <select id="difficulty" name="difficulty" required>
                    <option value="" disabled selected> Choose your difficulty (1= easy, 5= expert)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons">timer</i>
                    <input id="meal_time" name="meal_time" type="text" required>
                    <label for="icon_prefix"> Total duration to complete!</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons">shopping_basket</i>
                    <textarea id="meal_ingredients" name="meal_ingredients" required></textarea>
                    <label for="icon_prefix"> List of ingredients!</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons">outdoor_grill</i>
                    <textarea id="meal_requirements" name="meal_requirements" required></textarea>
                    <label for="icon_prefix"> Equipment needed!</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons">list</i>
                    <textarea id="meal_method" name="meal_method" required></textarea>
                    <label for="icon_prefix"> Method!</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons">speaker_notes</i>
                    <textarea id="meal_comment" name="meal_comment" required></textarea>
                    <label for="icon_prefix"> Any notes!</label>
                </div>

            </div>

            <div>
                <button class="btn waves-effect waves-light buttons buttons-hover" type="submit" name="action">Add recipe
                <i class="material-icons right">send</i>
            </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
