{% extends 'parent.html'%} {% block content %}

<div class="row">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
                <input id="meal_name" name="meal_name" type="text" class="validate" value="{{recipe.meal_name}}">
                <label for="icon_prefix"> Recipe name!</label>
            </div>

            <div class="input-field col s6">
                <select id="difficulty" name="difficulty">
                    <option value="{{recipe.difficulty}}">{{recipe.difficulty}}(current)</option>
                    <option value="" disabled selected> Choose your difficulty (1= easy, 5= expert)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">timer</i>
                <input id="meal_time" name="meal_time" type="text" class="validate" value="{{recipe.meal_time}}">
                <label for="icon_prefix"> Total duration to complete!</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">shopping_basket</i>
                <textarea id="meal_ingredients" name="meal_ingredients" class="validate">{{recipe.meal_ingredients}}</textarea>
                <label for="icon_prefix"> List of ingredients!</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">outdoor_grill</i>
                <textarea id="meal_requirements" name="meal_requirements" class="validate">{{recipe.meal_requirements}}</textarea>
                <label for="icon_prefix"> Equiptment needed!</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">list</i>
                <textarea id="meal_method" name="meal_method" class="validate">{{recipe.meal_method}}</textarea>
                <label for="icon_prefix"> Method!</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">speaker_notes</i>
                <textarea id="meal_comment" name="meal_comment" class="validate">{{recipe.meal_comment}}</textarea>
                <label for="icon_prefix"> Any notes!</label>
            </div>

        </div>

        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Update recipe
                <i class="material-icons right">send</i>
            </button>
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn">Delete recipe</a>
        </div>
    </form>
</div>

{% endblock %}
