<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav class="nav-color">
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo nav-text nav-logo">Hungry Herbivore</a>
                <a href="#mobile-nav" data-target="mobile-nav" class="sidenav-trigger mobile-only"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}"><i class="material-icons nav-text">apps</i></a></li>
                    <li><a href="{{url_for('add_recipe')}}"><i class="material-icons nav-text">add</i></a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav mobile-only" id="mobile-nav">
            <li><a href="{{url_for('get_recipes')}}">Home!</a></li>
            <li><a href="{{url_for('add_recipe')}}">Add recipe!</a></li>
        </ul>
    </header>
    {% block content %} {% endblock %}
    <div>
        <footer>
            <div class="footer-text row">
                <div class="col s4 m4 row">
                    <div class="col m6 mobile-hide">020 486479</div>
                    <div class="col s12 m6">hungry_herbivore@vegan.co.uk</div>
                </div>
                <div class="col s0 m4 "></div>
                <div class="col s8 m4 row">
                    <a href="https://www.linkedin.com/in/tom-garratt-303284168/" target="_blank">
                        <div class="col s6 m4 footer-hover footer-link">
                            Linkedin
                        </div>
                    </a>
                    <a href="https://github.com/tgarratt" target="_blank">
                        <div class="col s6 m4 footer-hover footer-link">
                            Github
                        </div>
                    </a>
                    <a href="N/A" target="_blank">
                        <div class="col m4 footer-hover footer-link mobile-hide">
                            Twitter
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="display/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>
