<!DOCTYPE html>
<html>

<!--------------------------------------------------------------------------------- HEAD START --->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<!--------------------------------------------------------------------------------- HEAD END --->
<!--------------------------------------------------------------------------------- NAV BAR START --->

<body>
    <header>
        <nav class="targeted-nav">
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo nav-text nav-logo nav-head-mobile">Hungry Herbivore</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse nav-text"><i class="material-icons">menu</i></a>
                <ul class="right mobile-hide">
                    <li><a href="{{url_for('get_recipes')}}"><i class="material-icons nav-text">apps</i></a></li>
                    <li><a href="{{url_for('add_recipe')}}"><i class="material-icons nav-text">add</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}" class="mobile-nav-hover">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}" class="mobile-nav-hover">Add recipe</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--------------------------------------------------------------------------------- NAV BAR END --->

    {% block content %} {% endblock %}

    <!--------------------------------------------------------------------------------- FOOTER START --->

    <div>
        <footer>
            <div class="footer-text row footer-mobile">
                <div class="col s4 m4 row">
                    <div class="col m6 mobile-hide">020 486479</div>
                    <div class="col s10 m6">hungry_herbivore@vegan.co.uk</div>
                </div>
                <div class="col s4 m4 "></div>
                <div class="col s4 m4 row">
                    <a href="https://www.linkedin.com/in/tom-garratt-303284168/" target="_blank">
                        <div class="col s6 m4 footer-hover footer-link">
                            Linkedin
                        </div>
                    </a>
                    <a href="https://github.com/tgarratt" target="_blank">
                        <div class="col s6 m4 footer-hover footer-link mobile-hide">
                            Github
                        </div>
                    </a>
                    <a href="N/A" target="_blank">
                        <div class="col m4 footer-hover footer-link mobile-hide">
                            Twitter
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <!--------------------------------------------------------------------------------- FOOTER END --->
    <!--------------------------------------------------------------------------------- DJANGO START --->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="display/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>

    <!--------------------------------------------------------------------------------- DJANGO END --->

</body>

</html>
