<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />


</head>

<body>
    <header>
        <nav class="nav-color">
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo nav-text nav-logo">Hungry Herbivore</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}"><i class="material-icons nav-text">apps</i></a></li>
                    <li><a href="{{url_for('add_recipe')}}"><i class="material-icons nav-text">add</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}

    <div>
        <footer>
            <div class="footer-text">
                <p><strong>Thanks for visiting Hungry Herbivore, feel free to check out my socials for more!</strong></p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="display/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });
    </script>
</body>

</html>
