{% extends 'parent.html'%} {% block content %}

<!--------------------------------------------------------------------------------- KEY START --->

<div class="key-content row">
    <div class="col m2.4 l2.4 key-info key-width">
        <div class="mobile-key-text-novice">Novice</div>
        <i class="material-icons novice mobile-hide">restaurant</i>
    </div>
    <div class="mobile-only center">
        <br>
    </div>
    <div class="col m2.4 l2.4 key-info key-width">
        <div class="mobile-key-text-competent"> Competent</div>
        <i class="material-icons competent mobile-hide">restaurant</i>
    </div>
    <div class="mobile-only center">
        <br>
    </div>
    <div class="col m2.4 l2.4 key-info key-width">
        <div class="mobile-key-text-intermediate"> Intermediate</div>
        <i class="material-icons intermediate mobile-hide">restaurant</i>
    </div>
    <div class="mobile-only center">
        <br>
    </div>
    <div class="col m2.4 l2.4 key-info key-width">
        <div class="mobile-key-text-advanced"> Advanced</div>
        <i class="material-icons advanced mobile-hide">restaurant</i>
    </div>
    <div class="mobile-only center">
        <br>
    </div>
    <div class="col m2.4 l2.4 key-info key-width">
        <div class="mobile-key-text-professional"> Professional</div>
        <i class="material-icons professional mobile-hide">restaurant</i>
    </div>

</div>

<!--------------------------------------------------------------------------------- KEY END --->
<!--------------------------------------------------------------------------------- FILTER START --->

<div class="search-form row filter-mobile">
    <div class="row col m12">
        <form>
            <div class="col s6 m6 select-dropdown">
                <select name="difficulty-filter" id="difficulty-filter" required>
                    <option value="1" disabled selected>Filter!</option>
                    <option value="1">novice</option>
                    <option value="2">competent</option>
                    <option value="3">intermediate</option>
                    <option value="4">advanced</option>
                    <option value="5">professional</option>
                </select>
            </div>
            <div class="col s6 m3">
                <button class="waves-effect waves-teal btn-flat search-button-hover search-button" type="submit" name="action">Go!</button>
            </div>
        </form>
        <div class="col m3">
            <a href="{{url_for('get_recipes')}}" class="waves-effect waves-teal btn-flat search-button-hover search-button mobile-hide">Clear</a>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------- FILTER END --->
<!--------------------------------------------------------------------------------- RECIPE CONTENT START --->

<div class="page-content-recipes">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header row">

                <div class="col s6 m1 l1 float-left-icon-mobile">
                    <i class="col s1 material-icons icon-size 
                {% if recipe.difficulty == " 1 " %}
                green-text text-accent-3
                {% elif recipe.difficulty == "2 " %}
                light-blue-text text-lighten-2 
                {% elif recipe.difficulty == "3 " %}
                amber-text text-darken-2
                {% elif recipe.difficulty == "4 " %}
                red-text text-darken-2
                {% elif recipe.difficulty == "5 " %}
                black-text
                {% endif %}">restaurant </i>
                    <i class="material-icons dropdown-icon-size">
                        keyboard_arrow_down
                    </i>
                </div>
                <div class="col s11 m11 l7 mobile-hide">
                    <div class="recipe-name">
                        <strong>{{recipe.meal_name}}:</strong>
                        <div> {{recipe.meal_time}}</div>
                    </div>
                </div>
                <div class="col s6 m6 l2 wrap">
                    <div class="mobile-only">
                        <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn buttons-recipes buttons-hover">
                            <i class="material-icons">list</i>
                        </a>
                    </div>
                    <div class="mobile-hide">
                        <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn buttons-recipes buttons-hover large-only-button recipe-button-larger-border">Recipe</a>
                        <a href="{{url_for('modify_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn buttons-recipes buttons-hover large-only-button recipe-button-larger-border">Modify</a>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>
                <div>
                    <div><strong>Comments:</strong></div>
                    <div>{{recipe.meal_comment}}</div>
                </div>
            </span>
                </div>
        </li>
        {% endfor %}
    </ul>
    </div>

    <!--------------------------------------------------------------------------------- RECIPE CONTENT END --->

    {% endblock %}
