{% extends 'parent.html'%} {% block content %}

<div class="page-content">

<!--------------------------------------------------------------------------------- RECIPE DISPLAY START --->

    <div class="recipe-header row">
        <h3 class="col l12">
            <u>{{recipe.meal_name}}</u>
        </h3>
    </div>
    <div class="recipe-content row">
        <div class="recipe-element">
            <div class="col s12 m12 l4">
                <div><strong>Duration</strong>- {{recipe.meal_time}}</div>
            </div>
            <div class="col s12 m12 l4">
                <div><strong>Difficulty</strong>- {{recipe.difficulty}}</div>
            </div>
        </div>
        <div class="recipe-element col s12 m12 l12">
            <div><strong>Ingredients:</strong></div>
            <div>{{recipe.meal_ingredients}}</div>
        </div>
        <div class="recipe-element col s12 m12 l12">
            <div><strong>Method:</strong></div>
            <div>{{recipe.meal_method}}</div>
        </div>
        <div class="recipe-element col s12 m12 l12">
            <div><strong>Equipment:</strong></div>
            <div>{{recipe.meal_requirements}}</div>
        </div>
    </div>

<!--------------------------------------------------------------------------------- RECIPE DISPLAY END --->
<!--------------------------------------------------------------------------------- BUTTONS START --->

    <div class="row">
        <div class="col s12 m4 l4 row">
            <div class="col s6 m6 l6 mobile-hide">
                <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn buttons buttons-hover">Back</a>
            </div>
            <div class="col s12 m6 l6">
                <a href="{{url_for('modify_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn buttons buttons-hover">Modify</a>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------- BUTTONS END ---> 
{% endblock %}
